:root {
  --branco: #ffff;
  --gelo: #f1f1f1;
  --vende: #19c463;
  --preto: #2a2a2a;
  --verde-escuro: rgba(44, 53, 54, 1);
}

/* Reseta as margens, paddings e define o box-sizing para manter dimensões consistentes */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define o corpo da página para ocupar toda a altura da tela e usa flexbox para organizar os elementos */
body {
  height: 100vh;
  /* Garante que ocupa toda a altura da tela */
}

@keyframes scrollText {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.carousel-track {
  display: flex;
  animation: scroll 20s linear infinite;
}

.atributos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.atributos img {
  width: 30px;
  height: 30px;
}

.atributos b {
  font-size: 8px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 1456px) {
  .carousel {
    width: 85% !important;
    margin-left: 80px !important;
    padding: 0;
  }
}

@media (min-width: 1286px) {
  .carousel {
    width: 75%;
    margin-left: 125px !important;
    padding: 0;
  }
}

@media (max-width: 1285px) {
  .carousel {
    width: 85%;
    margin-left: 95px;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .carousel {
    width: 85%;
    margin-left: 80px;
    padding: 0;
  }
}

@media (max-width: 990px) {
  .carousel {
    width: 80%;
    margin-left: 80px;
    padding: 0;
  }
}

@media (max-width: 590px) {
  .carousel {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .atributos img {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 320px) {
  .carousel {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .atributos img {
    width: 15px;
    height: 15px;
  }
}
