:root {
  --branco: #ffffff;
  --gelo: #f1f1f1;
  --verde: #19c463;
  --preto: #2a2a2a;
  --verde-escuro: rgba(44, 53, 54, 1);
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f4f4f4;
  color: #333;
  font-size: 1.6rem;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

.sobre {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 24px;
  height: 100vh;
  background: hsl(216deg 16.13% 6.08%);
}

.atributos2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: hsl(216deg 16.13% 6.08%);
  margin: 20px 150px 20px 150px;
  padding: 20px;
  gap: 100px;
  width: 100%;
  height: 400px;
}
