/* author: https://codepen.io/mattbhenley/pen/aRKmgR
matt henley */
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
body {
  background-color: rgba(0, 181, 245, 0.05);
}

.social-container {
  width: 200px;
  margin: 20vh auto;
  text-align: center;
}

.social-icons {
  padding: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  position: relative;
  font-size: 1.2em;
  bottom: -20px;
  margin: 13px;
}
.social-icons i {
  color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all 265ms ease-out;
}
.social-icons a {
  display: inline-block;
  border-radius: 100%;
}
.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00b5f5, #002a8f);
  transition: all 265ms ease-out;
}

@media (min-width: 1280px) {
  .social-icons a:before {
    width: 38px;
    height: 38px;
  }

  .social-icons i {
    top: 12px;
    left: 7px;
  }
}

@media (max-width: 1279px) {
  .social-icons a:before {
    width: 38px;
    height: 38px;
  }

  .social-icons i {
    top: 10px;
    left: 10px;
  }
}

@media (max-width: 590px) {
  .social-icons li {
    bottom: -32px;
  }

  .social-icons a:before {
    width: 22px;
    height: 22px;
  }

  .social-icons i {
    top: 2px;
    left: -1px;
  }
}

@media (max-width: 349px) {
  .social-icons li {
    bottom: -32px;
  }

  .social-icons a:before {
    width: 12px;
    height: 12px;
    display: none;
  }

  .social-icons i {
    top: 2px;
    left: -1px;
  }
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}
.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00b5f5;
  background: -webkit-linear-gradient(45deg, #00b5f5, #002a8f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}
