:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --vende: #19c463;
    --preto: #2a2a2a;
    --verde-escuro: rgba(44, 53, 54, 1);
}

/* Reseta as margens, paddings e define o box-sizing para manter dimensões consistentes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Define o corpo da página para ocupar toda a altura da tela e usa flexbox para organizar os elementos */
body {
    height: 100vh;
    /* Garante que ocupa toda a altura da tela */
}

/* Estilos Responsivos */
@media (max-width: 320px) {
    html {
        font-size: 35%;
        /* Reduz o tamanho base */
    }
}

@keyframes scrollText {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.carousel {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carousel-track {
    display: flex;
    animation: scroll 20s linear infinite;
}

.atributos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.atributos img{
    width: 30px;
    height: 30px;
}

.atributos b{
    font-size: 8px;
}

@media (min-width: 1280px){
    .carousel {
        overflow: hidden;
        text-align: center;
        width: 100%;
        position: relative;
    }
    .atributos {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }
    
    .atributos img{
        width: 30px;
        height: 30px;
    }
    
    .atributos b{
        font-size: 8px;
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}