:root{
    --branco: #ffff;
    --gelo: #f1f1f1;
    --vende: #19c463;
    --preto: #2a2a2a;
    --verde-escuro: rgba(44, 53, 54, 1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62%;
}

.page-content{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.menu {
    background-color: rgba(44, 53, 54, 1);
    /* Cor de fundo escura */
    display: inline-flex;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona um leve sombreamento */
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.navbar-menu {
    background-color: rgba(44, 53, 54, 1);

    /* Cor de fundo escura */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Adiciona um leve sombreamento */
    width: 70%;
    height: 100%;
}

menu{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    width: 90%;
    height: 50%;
}

.navbar-menu h1 {
    color: rgba(237, 194, 16, 1);
    font-size: 32px;
    /* Define o tamanho do texto */
}

/* Estilização dos links dentro do .navbar */
menu a {
    color: aliceblue;
    /* Cor do texto */
    font-weight: bold;
    /* Deixa o texto em negrito */
    text-transform: uppercase;
    /* Transforma o texto em maiúsculas */
    text-decoration: none;
    /* Remove o sublinhado */
    font-size: 10px;
    /* Define o tamanho do texto */
    font-family: Arial, Helvetica, sans-serif;
    /* Define a fonte */
    display: inline-block;
    /* Mantém o tamanho do link fixo */
    /* Define um tamanho mínimo para os links */
    text-align: center;
    /* Alinha o texto ao centro */
    margin-left: 5rem;
}

/* Efeito ao passar o mouse sobre os links do .navbar */
menu a:hover {
    font-family: Arial, Helvetica, sans-serif;
    /* Mantém a fonte */
    color: rgb(111, 194, 171);
    /* Muda a cor do texto ao passar o mouse */
    transition: 0.3s;
    transform: scale(1.1);
    /* Aumenta o tamanho do link sem afetar os outros elementos */
}

/* Define o corpo da página para ocupar toda a altura da tela e usa flexbox para organizar os elementos */

.container-fluid {
    background: var(--verde-escuro);
}

.info{
    background-color: rgba(44, 53, 54, 1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1px;
}

.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 45vh;
}

.descricao h4{
    display: inline-block;
    font-size: 18px;
    padding: 0.2rem;
    background-color: rgba(237, 194, 16, 1);
}

.descricao b {
    color: rgb(255, 251, 0);
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}

.descricao p {
    display: flex;
    flex-direction: column;
    text-align: start;
    max-width: 70%;
    font-size: 14px;
    color: white;
}

.info-redes{
    width: 70%;
    margin-left: 6px;
}

.info-redes h1{
    font-weight: 800;
    text-align: start;
    color: white;
    font-size: 10px;
}

.redes{
    display: block;
    flex-direction: column;
    align-items: start;
    justify-content: end;
}

.containerFoto {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.fotoPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(2, 2, 2); /* Borda mais fina */
    overflow: hidden;
    border-radius: 50%;
    width: 100%;

    height: 100%;
}

.fotoPerfil img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.informacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    width: 30%;
    height: 100%;
}

.AroFoto{
    border-radius: 50%;
    border: 2px solid rgba(237, 194, 16, 1); /* Borda mais fina */
    width: 75%;
    height: 75%;
}

.nome{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nome h3 {
    display: inline-block;
    font-size: 8px;
    padding: 0.2rem;
    background-color: rgba(237, 194, 16, 1);
}

.nome h1{
    color: white;
    font-size: 12px;
}
