:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --vende: #19c463;
    --preto: #2a2a2a;
    --orange-css: rgba(237, 194, 16, 1);
    --verde-escuro: rgba(44, 53, 54, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62%;
}

.title-landing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.title-landing h1{
    background: var(--verde-escuro);
    color: var(--orange-css);
    border: 1px solid black;
    border-radius: 1rem;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    width: 90%;
    margin: 10px ;
}

.landing-pages {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.exemplos {
    width: 70%;
    height: 100%;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    width: 100%;
    height: 100vh;
}

.mySwiper img{
    width: 100%;
    height: 100%;
}

.mySwiper2 {
    width: 60%;
    height: 10%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1290px){
    .mySwiper {
        width: 70%;
        height: 200vh;
    }
    
    .mySwiper img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 990px){
    .mySwiper {
        width: 100%;
        height: 100vh;
    }
    
    .mySwiper img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 590px){
    .mySwiper {
        width: 100%;
        height: 100vh;
    }
    
    .mySwiper img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 320px){
    .mySwiper {
        width: 100%;
        height: 100vh;
    }
    
    .mySwiper img{
        width: 100%;
        height: 100%;
    }
}
