:root {
    --branco: #ffff;
    --gelo: #f1f1f1;
    --vende: #19c463;
    --preto: #2a2a2a;
    --verde-escuro: rgba(44, 53, 54, 1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62%;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 85vh;
}

.titulo{
    font-size: 24px;
    font-weight: 600;
    color: aqua;
}

.videoDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    height: 850px;
}

.const {
    background-color: rgb(29, 29, 29);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 80%;
    border-radius: 50%;
}

video {
    background-color: rgb(101, 99, 99);
    width: 100%;
    height: 100%;
}

#btn {
    display: flex;
    flex-direction: row;
    align-items: center;
}

button {
    display: block;
    margin: 5px;
    font-size: 12px;
    cursor: pointer;
}

@media (max-width: 990px) {
    
}
    


@media (max-width: 590px) {
    
}


@media (max-width: 390px) {
    .projeto {
        width: 100%;
        height: 35vh;
    }
    
    .videoDiv {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 300px;
        height: 200px;
    }
    
    .const {
        background-color: rgb(29, 29, 29);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;
        height: 80%;
        border-radius: 50%;
    }
    
    video {
        background-color: rgb(101, 99, 99);
        width: 100%;
        height: 100%;
    }
    
}